# Node modules
node_modules

# Next.js build output
.next
out

# Logs
*.log

# Development directories
__mocks__
__tests__

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Other unnecessary files
.git
.gitignore
README.md
LICENSE
.DS_Store
